.auth-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.btn-logout {
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: rgb(17, 16, 16);
    background-color: #FFFF00;
    text-shadow: 0px 0px 10px #000000;
    box-shadow: inset 0px 0px 10px #000000;
}